@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html, #root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll if content overflows */
  font-family: 'Poppins', sans-serif; /* Add this line */

}